# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
# .env
.venv/
env/
venv/
ENV/

# Prefect
.prefect/
prefect-data/

# Docker
docker-data/
clickhouse-data/
minio-data/

# IDE
.idea/
.vscode/

мусор/